<div class="gallery__actions">
  <div class="gallery__actions__buttons">
'http://bit.ly/2pTDhXe'
    <a target="_blank" [href]="tweetLink" target="_blank"><img src="assets/img/twitter.png" alt="" /></a>
    <a (click)="toggleMap()"><img src="assets/img/map-marker.png" alt="" /></a>
  </div>
  <div class="gallery__actions__map" [@showMap]="state">
    <sebm-google-map [latitude]="image.startLat" [longitude]="image.startLon">
      <sebm-google-map-marker [latitude]="image.startLat" [longitude]="image.startLon" [markerDraggable]="false"
        [openInfoWindow]="true">
        <sebm-google-map-info-window>
          <div class="infoWindow">
            <h5 class="iWindowTitle">From {{image.startAddress}} to {{image.endAddress}}</h5>
          </div>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
      <sebm-google-map-marker [latitude]="image.endLat" [longitude]="image.endLon" [markerDraggable]="false"
        [openInfoWindow]="true">
        <sebm-google-map-info-window>
          <div class="infoWindow">
            <h5 class="iWindowTitle">From {{image.startAddress}} to {{image.endAddress}}</h5>
          </div>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>

  </div>

</div>
