<div class="panel">
  <h2>The Project</h2>
  <p>

    The goal of this project is to allow people to receive postcards from all over the world, for free. Well, almost free! The main idea is that: if you send a postcard, you will receive one back from a random participant from somewhere in the world.
  </p>
  <p>

    Why? Because, like us, there are lots of people who like to receive real mail, not the electronic waste that passes for human communication.
  </p>
  <p>

    The element of surprise of receiving postcards from different places in the world (many of which you probably have never heard of) can turn your mailbox into a box of goodies - and who wouldn't like that?
  </p>
</div>
