.header{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  @extend .bg;
  img{
    align-self: center;
  }
}
.works{
  &__panel{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      padding: $padding;
    }

  }
}

.profile{
  display: flex;
  justify-content: space-between;
  &__image{
    padding: $padding;
    img{
      border-radius: 50%;
      width:200px;

    }
  }

  &__details{
    padding: $padding;
    h3{
      margin:0;
      color: $accent-color;
      font-weight: bolder;
      // padding: $padding;
    }
    h4{
      margin:0;
      color: $secondary-color;
    }
    p{

    }

  }
  &__postcard{
   padding: $padding;
  }
}
.gallery{
  &__heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: $padding;
    &__actions__map{
      display:none;
      border:2px solid black;
    }
    &__image{
      img{
        border-radius: 50%;
        width: 100px;
        margin-right:$padding;
        align-self: flex-end;
      }

    }
    &__info{
      h4{
      margin:0;
      font-weight: 800;
      }
      p{
        font-style: italic;
      }
    }
  }

  &__details{
    p{
      color: $accent-color;
      font-weight: 800;
    }
  }

}
.nav{
  &__menu{
    &__item, &__item{
      a:link, a:visited{
        color: $accent-color;
        text-decoration: none;
      }
    }
  }
}
input[type="file"]{
    border:0;
    color: $accent-color;
    margin-top: $padding;

}
.bg{
  background-color: white;

}
.panel{
  @extend .bg;
  margin-top: $padding;
  padding: $padding;
}
.nav{
  &__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__item{
      font-family: Vollkorn-Bold;
      color: $accent-color;
      padding: $padding;
      cursor: pointer;
      transition: color .5s ease-in-out;
      a{
        transition: color .5s ease-in-out;
      }
      a:hover{
          color: $secondary-color;
      }
    }
    &__item:hover{
      color: $secondary-color;
    }

  }
}
.social{
  position: fixed;
  right: $padding;
}

.btn{
  background: $accent-color;
  font-family: Vollkorn-Bold;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  margin-top: $padding;
  margin-bottom: $padding;
  padding-left: $padding;
  padding-right: $padding;
  transition: background .5s ease-in-out;
  &:hover{
      background: $secondary-color;
  }
}
.label{
  // font-family: Vollkorn-Bold;
  // font-size: 18px;
  display: block;
  // padding: $padding;
  color: $base-color;
}
.input{
  display: block;
  padding: 5px;
  border: 2px solid $secondary-color-light;
}



.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  // border-radius: 6px;
  // -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  // box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  background-color: $accent-color;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  // border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  // margin-top: -2px;
  position:absolute;
  right: 10px;

}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    // -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.edit{
  &__body{
    display: flex;
    justify-content: flex-end;
  }
}

/*helpers*/
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.fullspan {
  width: 100%;
  display: block;
}
.responsive{
  width: 100%;
  height: auto;
}
