.morph{
  @include transition(all .5s ease-in-out);
}
.light-blue{
  &:hover{
    background-color: $secondary-color-light;
  }
}
.social{
  &__link{
    img{

      transition: all .3s ease-in-out;
    }
  }
  &__link{
    img:hover{

      width: 110%;
    }
  }
}
