$base-font: 'Vollkorn', 'Georgia', serif;


$body-color: #EAF1F3;
$base-color: #395459;
$base-color-light: lighten($base-color, 10%);

$secondary-color: #30C9E8;
$secondary-color-light: #35DAFB;

$accent-color: #FF3691;

$padding: 15px;


$break-small: 760px;
