<div class="panel">
  <h3>The Project</h3>
  <p>
    The goal of this project is to allow people to receive postcards from all over the world, for free. Well, almost free! The main idea is that: if you send a postcard, you will receive one back from a random participant from somewhere in the world.
  </p>
  <p>
  Why? Because, like us, there are lots of people who like to receive real mail, not the electronic waste that passes for human communication.
  </p>
  <p>
  The element of surprise of receiving postcards from different places in the world (many of which you probably have never heard of) can turn your mailbox into a box of goodies - and who wouldn't like that?
  </p>
</div>
<div class="panel works">
  <h3>How it Works</h3>
  <div class="works__panel">
    <img src="/src/img/step-1.png" alt="" />
    <div>
      Take a photo with your camera. Film is preferred, but digital is OK too. You will be sharing your work with photographers of all levels.
    </div>
  </div>
  <div class="works__panel">
    <img src="/src/img/step-2.png" alt="" />
    <div>
       Develop or print photo to a postcard. Darkroom prints are preferred, digital prints are OK too. Most people in this exchange strongly prefer darkroom prints. There's something magical about drawing light from chemicals.
    </div>
  </div>
  <div class="works__panel">
    <img src="/src/img/step-3.png" alt="" />
    <div>
       Mail the photo postcard to your partner. Make sure you apply proper postage and double check the address. On your profile page there is spot to indicate the whether or not you have sent or reeived your postcard.
    </div>
  </div>
</div>
