
<!-- Button trigger modal -->
<button *ngIf="this.isLoggedIn" type="button" class="btn btn-primary btn-lg center" data-toggle="modal" data-target="#myModal">
  Add Postcard
</button>

<div *ngFor="let image of images | async">
  <div class="panel gallery">
    <div class="gallery__heading">
      <div class="gallery__heading__image">
        <img src={{image.profilePic}} alt="{{image.name}} profile pic" />
      </div>
      <div class="gallery__heading__info">
        <h4>{{image.name}}</h4>
        <p>
          From {{image.startAddress}}
        </p>
      </div>

    </div>
    <div class="gallery__image">
      <img src={{image.url}} class="responsive" alt="" />
    </div>


      <div class="gallery__details">
        <p>
          This postcard was sent from {{image.startAddress}} to {{image.endAddress}}
        </p>
      </div>

    <app-map [image]='image'></app-map>


  </div>

</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Postcard</h4>
      </div>
      <div class="modal-body">
        <app-add-image></app-add-image>
      </div>
    </div>
  </div>
</div>
