<div class="container">
  <div class="header">
    <div class="social">
      <div class="social__link">
      <a href="https://twitter.com/intent/tweet?text=Join%20our%20Postcard%20Exchange%20Group%20!%20It's%20free!!! http://bit.ly/2pTDhXe" target="_blank">
         <img src="assets/img/Twitter_Icon.png" alt="Twitter Icon" />
       </a>
      </div>
      <div class="social__link">
       <a href="https://www.instagram.com/monismithphotography/" target="_blank">
         <img src="assets/img/Instagram_Icon.png" alt="Instagram Icon" />
       </a>
      </div>
      <div class="social__link">
        <a href="https://m.facebook.com/moni.smith.photo/" target="_blank">
         <img src="assets/img/Facebook_Icon.png" alt="Facebook Icon" />
       </a>
      </div>
    </div>
    <img class="header__image" src="assets/img/header.png" alt="Postcard Exchange Header" />
    <div class="nav">
      <ul class="nav__menu">
        <li class="nav__menu__item"><a href="#">How it Works</a></li>
        <li class="nav__menu__item"><a routerLink="/about">About Us</a></li>
        <li class="nav__menu__item"><a routerLink="/gallery">Gallery</a></li>
        <li *ngIf="!isLoggedIn" class="nav__menu__item"><a (click)="login()">Login</a></li>
        <li *ngIf="isLoggedIn" class="nav__menu__item"><a (click)="logout()">Logout</a></li>
        <li *ngIf="isLoggedIn" class="nav__menu__item"><a (click)="profile()">Profile</a></li>
      </ul>
    </div>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
