<div class="container">
  <div class="header">
    <div class="social">
      <div class="social__link">
         <img src="src/img/Twitter_Icon.png" alt="Twitter Icon" />
      </div>
      <div class="social__link">
         <img src="src/img/Instagram_Icon.png" alt="Instagram Icon" />
      </div>
      <div class="social__link">
         <img src="src/img/Facebook_Icon.png" alt="Facebook Icon" />
      </div>
    </div>
    <img class="header__image" src="src/img/header.png" alt="Postcard Exchange Header" />
    <div class="nav">
      <ul class="nav__menu">
        <li class="nav__menu__item"><a href="#">How it Works</a></li>
        <li class="nav__menu__item"><a href="./about">About Us</a></li>
        <li class="nav__menu__item"><a href="./gallery">Gallery</a></li>
        <li *ngIf="!isLoggedIn" class="nav__menu__item"><a (click)="login()">Login</a></li>
        <li *ngIf="isLoggedIn" class="nav__menu__item"><a (click)="logout()">Logout</a></li>
        <li *ngIf="isLoggedIn" class="nav__menu__item"><a (click)="profile()">Profile</a></li>
      </ul>
    </div>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>



  <!-- <div class="footer panel">
    <a href="./pair">pair</a>
    footer stuff goes here
  </div> -->
</div>
