<div class="container">
  <div class="header">
    <div class="social">
      <div class="social__link">
         <img src="src/img/Twitter_Icon.png" alt="Twitter Icon" />
      </div>
      <div class="social__link">
         <img src="src/img/Instagram_Icon.png" alt="Instagram Icon" />
      </div>
      <div class="social__link">
         <img src="src/img/Facebook_Icon.png" alt="Facebook Icon" />
      </div>
    </div>
    <img class="header__image" src="src/img/header.png" alt="Postcard Exchange Header" />
    <div class="nav">
      <ul class="nav__menu">
        <li class="nav__menu__item">How it Works</li>
        <li class="nav__menu__item">About Us</li>
        <li class="nav__menu__item">Gallery</li>
        <li class="nav__menu__item">Login</li>
        <li class="nav__menu__item">Sign-Up</li>
      </ul>
    </div>
  </div>

  <div class="body">
    <div class="panel">

      <h2>Router</h2>
      <a href="./add">add</a>
      <a href="./pair">pair</a>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map> -->


  <div class="footer panel">
    footer stuff goes here
  </div>
</div>
