<div *ngIf="isLoggedIn">

<div class="panel profile">
  <div class="profile__image">
    <img src="{{(loggedInUser | async)?.photoURL}}" alt="" />
  </div>
  <div class="profile__details">
    <h3>{{(loggedInUser | async)?.name}}</h3>
    <h4>Email:</h4>
    <p>
      {{(loggedInUser | async)?.email}}
    </p>
    <h4>Address:</h4>
    <p>
      {{(loggedInUser | async)?.address}}
      <br>
      {{(loggedInUser | async)?.city}}, {{(loggedInUser | async)?.state}}
      <br>
      {{(loggedInUser | async)?.country}}
      <br>
      {{(loggedInUser | async)?.zip}}
    </p>
    <button type="button" class="btn btn-primary btn-lg center" data-toggle="modal" data-target="#myModal">
      Edit Profile
    </button>

  </div>
  <div class="profile__postcard">
    <div class="profile__postcard__images">
      <img src="src/img/postcard-sent.png" alt="postcard sent" />
      <img src="src/img/postcard-unsent.png" alt="postcard unsent" />
    </div>
    <div class="dropdown">
      <select (change)="updatePostcard($event.target.value)">
         <option value="sent">I sent my card to {{(loggedInUser | async)?.partner}}</option>
         <option value="received">I received my card from {{(loggedInUser | async)?.partner}}</option>
      </select>
    </div>


  </div>


</div>

</div>


<!-- Modal -->
<div class="modal fade edit" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
      </div>
      <div class="modal-body edit__body">
        <div class="edit__body__form">
          <h3>Update Profile</h3>
                <label class="label">Street</label>
                <input class="input" #address placeholder="{{(loggedInUser | async)?.address}}" value="{{(loggedInUser | async)?.address}}">
                <label class="label">City</label>
                <input class="input" #city placeholder="{{(loggedInUser | async)?.city}}" value="{{(loggedInUser | async)?.city}}">
                <label class="label">State</label>
                <input class="input" #state placeholder="{{(loggedInUser | async)?.state}}" value="{{(loggedInUser | async)?.state}}">
                <label class="label">Country</label>
                <input class="input" #country placeholder="{{(loggedInUser | async)?.country}}" value="{{(loggedInUser | async)?.country}}">
                <label class="label">Postal Code</label>
                <input class="input" #zip placeholder="{{(loggedInUser | async)?.zip}}" value="{{(loggedInUser | async)?.zip}}">
                <button (click)="editUser(address.value, city.value, state.value, country.value, zip.value)" class="btn">Update</button>
        </div>
        <div class="edit__body__image">
            <img src="./src/img/mailbox.png" alt="" />
        </div>


      </div>
    </div>
  </div>
</div>
