<div class="panel profile" *ngIf="isLoggedIn">
  <div class="base-color bold">{{displayDate}}</div>
  <div class="profile__user">
   <img src="{{(loggedInUser | async)?.photoURL}}" alt="" />
   <div class="user__details">
     <h3>{{(loggedInUser | async)?.name}}</h3>
     <h4>Email:</h4>
     <p>
       {{(loggedInUser | async)?.email}}
     </p>
     <!-- <div class="profile__details"> -->
       <div *ngIf="!emptyAddress">
         <div class="profile__address">
           <div class="address__field">
             <h4>Address:</h4>
           </div>
           <div class="address__data">
             <p>{{(loggedInUser | async)?.address}}</p>
             <p>{{(loggedInUser | async)?.city}}, {{(loggedInUser | async)?.state}}</p>
             <p>{{(loggedInUser | async)?.country}}</p>
             <p>{{(loggedInUser | async)?.zip}}</p>
           </div>
         </div>
         <button type="button" class="btn btn-primary btn-lg right" data-toggle="modal" data-target="#myModal">
           Edit Profile
         </button>
       </div>
       <div *ngIf="emptyAddress">
         <p class="warning">Please enter your full address, making sure to complete all fields.
         Use the "Edit Profile" button below to do so.
         </p>
         <button type="button" class="btn btn-primary btn-lg center" data-toggle="modal" data-target="#myModal">
           Edit Profile
         </button>
       </div>
   </div>
  </div>

  <div class="profile__postcard">
    <div class="profile__postcard__images" *ngIf="showPartner">
      <div>
        <h4 class="accent-color bold" *ngIf="showPartner">
          Your sending partner, {{(loggedInUserSender | async)?.name}}, has
          <span class="secondary-color">{{senderPostcardMessage}}</span> your postcard.
        </h4>

        <div *ngIf="senderPostcardMessage==='sent'">
          <h3>
            Did your receive your postcard from {{(loggedInUserSender | async)?.name}}?
          </h3>
          <select (change)="updatePartnerPostcard($event.target.value)">
            <option value="received">I received my card from {{(loggedInUserPartner | async)?.name}}</option>
            <option value="not received">I did NOT receive my card from {{(loggedInUserPartner | async)?.name}} yet</option>
          </select>
          <br />
          I have <strong>{{(loggedInUser | async)?.partnerPostcard}}</strong> my postcard.
        </div>
        <!-- <img [src]="partnerIsSent ? 'assets/img/postcard-sent.png' : 'assets/img/postcard-unsent.png'" alt="postcard status" /> -->
      </div>
    </div>
  </div>
</div>

  <!-- <div class="panel profile"> -->
    <div class="panel profile" *ngIf="!showPartner">
      <h3>Your receiving partner will chosen the last day of this month.</h3>
    </div>
    <div class="panel profile" *ngIf="showPartner">
      <div>
        <h4 class="accent-color bold" *ngIf="showPartner">
          You have <span class="secondary-color">{{(loggedInUser | async)?.postcard}}</span> your postcard this month.
        </h4>
        <!-- <img class="center" [src]="this.isSent ? 'assets/img/postcard-sent.png' : 'assets/img/postcard-unsent.png'" alt="postcard status" /> -->
        <select (change)="updateMyPostcard($event.target.value)">
          <option value="not sent">I did NOT send my card to {{(loggedInUserPartner | async)?.name}} yet</option>
          <option value="sent">I sent my card to {{(loggedInUserPartner | async)?.name}}</option>
        </select>
      </div>
      <div class="user__details" *ngIf='isSent'>
        <h3>Thanks for sending {{(loggedInUserPartner | async)?.name}} a postcard.
        {{(loggedInUserPartner | async)?.name}} will be checking the mail.</h3>
      </div>
      <div class="user__details" *ngIf='!isSent'>
        <div class="profile__image">
          <div>
            Please send {{(loggedInUserPartner | async)?.name}} a postcard.
          </div>
          <img src="{{(loggedInUserPartner | async)?.photoURL}}" alt="" />
        </div>
        <div class="profile__details">
          <h3>{{(loggedInUserPartner | async)?.name}}</h3>
          <h4>Email:</h4>
          <p>
            {{(loggedInUserPartner | async)?.email}}
          </p>
          <h4>Address:</h4>
          <p>
            {{(loggedInUserPartner | async)?.address}}
            <br>
            {{(loggedInUserPartner | async)?.city}}, {{(loggedInUserPartner | async)?.state}}
            <br>
            {{(loggedInUserPartner | async)?.country}}
            <br>
            {{(loggedInUserPartner | async)?.zip}}
          </p>
        </div>
      </div>

    </div>
  <!-- </div> -->
<!-- </div> -->


<!-- Modal -->
<div class="modal fade edit" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
      </div>
      <div class="modal-body edit__body">
        <div class="edit__body__form">
          <h3>Update Profile</h3>
                <label class="label">Street</label>
                <input class="input" #address placeholder="{{(loggedInUser | async)?.address}}" value="{{(loggedInUser | async)?.address}}">
                <label class="label">City</label>
                <input class="input" #city placeholder="{{(loggedInUser | async)?.city}}" value="{{(loggedInUser | async)?.city}}">
                <label class="label">State</label>
                <input class="input" #state placeholder="{{(loggedInUser | async)?.state}}" value="{{(loggedInUser | async)?.state}}">
                <label class="label">Country</label>
                <input class="input" #country placeholder="{{(loggedInUser | async)?.country}}" value="{{(loggedInUser | async)?.country}}">
                <label class="label">Postal Code</label>
                <input class="input" #zip placeholder="{{(loggedInUser | async)?.zip}}" value="{{(loggedInUser | async)?.zip}}">
                <button (click)="editUser(address.value, city.value, state.value, country.value, zip.value)" class="btn">Update</button>
        </div>
        <div class="edit__body__image">
            <img src="assets/img/mailbox.png" alt="" />
        </div>


      </div>
    </div>
  </div>
</div>
